@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

.header {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 13px;
  width: 32px;
  height: 25px;
}

.cards {
  margin-top: 20px;
  margin-right: auto;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.cardInfo {
  margin-top: 10px;
  margin-right: 16px;
  width: 40px;
  position: relative;
}

.ctaButton {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
